In [2]:
import pandas as pd

In [3]:
base_dir = '/Users/satyakimallick/IdeaProjects/Awaves_Energy_Levels/dataset/University of Jyvaskyla emotion dataset/set1/'
songs_path = f'{base_dir}mp3/Soundtrack360_mp3/'

In [4]:
from sklearn.preprocessing import LabelBinarizer
import pandas as pd
target_path = f'{base_dir}mean_ratings_set1.xls'
targets = pd.read_excel(target_path, usecols = ['happy', 'sad'])
targets['result'] = targets['happy'] - targets['sad']
targets = targets[:61]

In [5]:
targets

     happy     sad  result
0   7.3333  1.0000  6.3333
1   7.1667  1.1667  6.0000
2   7.1667  1.0000  6.1667
3   7.1667  1.0000  6.1667
4   7.1667  1.0000  6.1667
..     ...     ...     ...
56  2.3333  3.0000 -0.6667
57  3.5000  3.0000  0.5000
58  2.8333  2.8333  0.0000
59  5.0000  1.0000  4.0000
60  5.8333  2.0000  3.8333

[61 rows x 3 columns]